
html{
    font-size:16px;
    font-family:"Shadows Into Light"
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

#content{
 
    background-color:bisque;
    padding:1rem;
    color:darkred;
    height:100%;
}

.centerText{
    text-align:center;
}
li{
    list-style: none;
}
.welcome{
    color:white;
    font-family:"Shadows Into Light"
}
header nav button{
  padding:0.3rem;
  font-size:1rem;

}
header{
    background:url('../restaurant.jpg');
    background-size:cover;
    height:7rem;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
header nav{
    display:flex;
    justify-content: center;
   
}
.menuBoard{
    border:3px solid darkred;
    padding:1rem;
    display:flex;
    justify-content:space-between;
}
.homeBoard span{
    display:block
}
.homeBoard{
    display:block;
}
.strong{
    font-weight:bold;
}
img{
    display:block;
    margin:auto;
}
.flex{
    display:flex;
    
}
.para,.homeBoard{
    border:3px solid darkred;
    padding:2rem;
}
.para{
    
}