
html{
    font-size:16px;
    font-family:"Shadows Into Light"
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

#content{
 
    background-color:bisque;
    margin:auto;
    padding:1rem;
    margin-top:2rem;
    color:darkred;
}
.centerText{
    text-align:center;
}
li{
    list-style: none;
}
.welcome{
    color:white;
    font-family:"Shadows Into Light"
}
header nav button{
  padding:0.3rem;
  font-size:1rem;

}
header{
    background:url('../restaurant.jpg');
    background-size:cover;
    height:5rem;
}
header nav{
    display:flex;
    justify-content: center;
   
}
.menuBoard{
    border:3px solid darkred;
    padding:1rem;
    display:flex;
    justify-content:space-between;
}
.homeBoard{
    border:3px solid darkred;
    padding:1rem;
}
.strong{
    font-weight:bold;
}